section {
    text-align: center;
}

#search-bar {
    width: 25%;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.box, .box2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
    background-color: rgb(30, 197, 197);
    width: 25%;
    height: 100px;
    position: relative;
}

a {
    display: block;
}

.box2 > input {
    display: block;
    margin: auto;
}

.box2 > .container > p {
    margin: 0px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.box > .container > p {
    margin: 0;
}